.MainDiv{
  min-height: 78vh;
  align-items: center;  
  width: 100%;
  background-color: #B87FA5;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.StatDiv{
  display: flex;
    min-height: 78vh;
    width: 100%;
    background-color: #B87FA5;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}